﻿<%@ Page Title="About" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="WebApplication2.About" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %>.</h2>
    <h3>Your application description pagergregeg.</h3>
    <p>Use this area to provide additional information.</p>
    <asp:GridView runat="server" ID="gvPrueba" >
        <Columns>
            <asp:TemplateField>
                <ItemTemplate>
                        <asp:Label runat="server" Text='<%# Eval("nombre") %>'></asp:Label>
                </ItemTemplate>
              
            </asp:TemplateField>
        </Columns>
    </asp:GridView>
</asp:Content>
